.App {
  font-family: 'Inter', sans-serif;
  font-size: small;
  text-align: left;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: 2px solid white;
  border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-size: x-small;
  font-weight: bold;
  margin: 10px;
  padding: 10px 20px;
}

.contact-btn {
  background-color: #FE4B0C;
  color: white;
}