.chef-info {
  grid-area: content;
  margin: 0 0 100px 0;
}

.chef-details {
  font-size: x-small;
  border-bottom: 1px solid lightgray;
  text-decoration: none;
  padding: 20px 0;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: small;
  margin: 0;
}

p, li {
  margin: 3px;
  color: rgb(68, 68, 68);
}

.tags-container {
  display: flex;
  justify-content: left;
  margin: 10px 0;
  padding: 0;
}

.tag {
  font-size: x-small;
  background-color: #facdbe;
  border-radius: 3px;
  color: #FE4B0C;
  list-style: none;
  margin: 3px;
  padding: 3px;
}