.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  height: 20px;
  margin: 10px;
}

.sign-in {
  color: black;
  background-color: white;
  border: none;
}